@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply px-[10px] md:px-[20px] lg:px-[40px] xl:px-[80px] 2xl:max-w-[1380px];
}

.input {
  @apply border-[1px] border-grey py-[6px] px-[4px] rounded-[3px] outline-none focus:outline-none focus:border-none focus:ring-1 focus:ring-lightRed ;
}

.table-cell {
  @apply border-[1px] border-slate-400 px-[20px] py-[3px] justify-center items-center text-wrap;
}

