@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply px-[20px] md:px-[40px] lg:px-[60px] xl:px-[80px]  ;
}


.input {
  @apply border-[1px] border-grey py-[6px] px-[4px] rounded-[3px] outline-none focus:outline-none focus:border-none focus:ring-1 focus:ring-lightRed ;
}

.table-cell {
  @apply border-[1px] border-slate-400 px-[20px] py-[3px] justify-center items-center text-wrap;
}

.btn-sec {
  @apply bg-lightDark hover:bg-grey text-nowrap text-white px-3 py-1 rounded-[10px]
}
